<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseRouting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs justify-content-center mb-3 mt-3">
        <li class="nav-item">
          <%= link_to "Destinations", root_path, class: "nav-link #{active_page?(path: root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link #{active_page?(path: products_path)}" %>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
